
/* dropShadow for the pins! */
#mainGameRoot {
    -fx-background-image: url("background.jpg");
}

.circle {
    -fx-effect: dropShadow( gaussian, rgba( 0, 0, 0, 0.65), 10, 0.5, 0.0, 0.0 );
    -fx-effect: innerShadow( gaussian, rgba( 1, 1, 1, 0.65), 10, 0.5, 0.0, 5.0 );
    -fx-effect: innerShadow( gaussian, rgba( 0, 0, 0, 0.65), 10, 0.5, 0.0, -5.0 );
    /*-fx-fill: rgb(207, 0, 58); */

}

.circle:hover {
     -fx-cursor: hand;
}

.button {
    -fx-font-family: "Tahoma";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#actionText{
    -fx-fill: #FF0000;
}