.root {
    -fx-background-image: url("background.jpg");
}

.radio-button {
    -fx-font-family: "Courier New";
    -fx-font-size: 13px;
    -fx-font-fill: #818181;
}

.button {
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

#WelcomeText {
    -fx-font-family: "Arial Black";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-fill: #818181;
    -fx-effect: innershadow( gaussian, rgba(0,0,0,0.7) , 4, 0.5 , 0 , 2 );
}